@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-darkest: #141414;
  --color-primary-dark: #122786;
  --color-primary-light: #CFE4FF;
  --color-secondary: #F4F6F9;
  --color-secondary-light: #EFF9FF;

  --color-btn-primary: #007BFF;     /* Biru tombol utama */
  --color-btn-success: #4EA63A;     /* Hijau: Selesai Produksi */
  --color-btn-info: #17A2B8;        /* Cyan: Dikirim */
  --color-btn-confirm: #009970;     /* Hijau: Diterima */
  --color-btn-warning: #FF2F00;     /* Merah: Belum Dikirim */
  --color-btn-danger: #FB0004;      /* Merah terang: status kritis */
  --color-btn-disabled: #9CAFC8;    /* Abu: Tombol nonaktif */
  --color-btn-dark: #122786;        /* Biru gelap: secondary */
  --color-btn-light: #FFFAFA;       /* Putih */

  --font-lato: "Lato", sans-serif;
  --font-inter: "Inter", sans-serif;
}